.App {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

.post {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 7px 8px 0px;
  transition: 0.2s;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: 0.2s;
}

.post .title {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  display: grid;
  place-content: center;
  background-color: dodgerblue;
  color: white;
  text-transform: capitalize;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.post .body {
  flex: 60%;
  display: grid;
  place-content: center;
  text-transform: capitalize;
}

.post .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: dodgerblue;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* INDIVIDUAL POST */
.postPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.leftSide {
  width: 600px;
  height: 300px;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-right: 10%;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 7px 8px 0px;
  transition: 0.2s;
}

.leftSide:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.2s;
}

.leftSide .title {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  display: grid;
  place-content: center;
  background-color: dodgerblue;
  color: white;
  text-transform: capitalize;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.leftSide .body {
  flex: 60%;
  display: grid;
  place-content: center;
  text-transform: capitalize;
}

.leftSide .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: dodgerblue;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rightSide {
  width: 500px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  font-family: Arial, Helvetica, sans-serif;
}

.rightSide .addCommentContainer {
  display:flex;
  flex-direction: column;
  place-items: center;
}

.addCommentContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.addCommentContainer button {
  background-color: dodgerblue;
  color: white;
  margin-top: 15px;
}

.addCommentContainer input {
  border: 2px solid dodgerblue;
}

.rightSide .listOfComments {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listOfComments .comment {
  width: 90%;
  justify-content: space-between;
  height: auto;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 10px;
}

#individual {
  height: 300px;
  width: 600px;
}

#individual .title,
#individual .footer {
  font-size: 30px;
}

#individual .body {
  font-size: 25px;
}

/* Login */

.login-container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  font-family: Arial, Helvetica, sans-serif;
}

.login-container > label {
  border-bottom: 1px solid lightgray;
  display: grid;
  background-color: dodgerblue;
  color: white;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  text-transform: capitalize;
  padding: 10px;
}

.login-container > input {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 25px;
  border: 2px solid #dadada;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
  transition: 0.2s;
}
.login-container > input:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  transition: 0.2s;
}

.text {
  display: block;
}

.login-container > button {
  margin-top: 10px;
  height: 40px;
  border: none;
  background-color: dodgerblue;
  border-radius: 5px;
  color: white;
  transition: 0.2s;
  cursor: pointer;
  
}

.login-container > button:hover {
  cursor: pointer;
  background-color: rgb(18, 112, 206);
  transition: 0.2s;
}
