.postPage {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  margin-bottom: auto;
}

.leftSide {
  display: inline-block;
  margin: 20px;
  border: 1px solid lightgray;
}

.title {
  padding: 20px;
  background-color: dodgerblue;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.body {
  padding: 20px;
  height:70%;
}

.footer {
  padding: 20px;
  background-color: dodgerblue;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.rightSide {
  margin: 20px;
  padding: 20px;
}
